/* TODO find-replace all px values */
div.post-comment {
    margin: 5px;
    padding: 5px;
}
div.post-list-view {
    margin: 5px;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 5px;
}

div.post-footer em {
    float: right;
    color: blue;
}
